---
layout: default
---
<style>
	h1, h2, h3, a, table {
	style="filter: invert(1) grayscale(1) contrast(9)"
	}
</style>
<div class="content">
	<section class="page"
	>
		<div class="container">
			
		 <div class="product-container" 
			style="background:rgba(0, 247, 255, 0.13)"
		>
			{% include product-styles.html product=page %}

				<div class="product-details" id="add" style="outline:3px dotted red">

					<h2>{{ page.name }}</h2>

					{{ page.description_markdown | markdownify }}

				 
					<div style="outline:2px solid dodgerblue ">
						<h4>${{ page.price }}</h4>
					</div>

					<table id="countit" border="1">
						<thead>		
							<tr>
								<th></th>
								{% for style in page.styles %}
								<th data-item-id="{{ forloop.index }}"
								style="background:{{style.color}}
								mix-blend-mode: difference;
								">
								   {{ style.name }}
								</th>
								{% endfor %}
								<th>todos</th>
								<th>&euro; por Ud.</th>

							</tr>
						</thead>

						<tbody>
						<tr>
						{% for sizes in page.sizes %}
							<th style="font-weight:600">{{sizes}}</th>	
							{% for styles in page.styles %}
						  	<th class="count-me">
							  <input 
							  type="number" 
							  name="someid"
							  min="0" max="1000"
							  style="font-weight:600; 
							  		background:{{styles.color}};
									  color: white;
									   
									  "

							  /> 
							</th>
							{% endfor %}
							<th>   </th>
							<th>
							  <input 
								type="text" 
								name="price" 
								id="price_per_ticket" 
								class="calculator-input" 
								onkeypress="return 
								event.charCode >= 48 && event.charCode <= 57"
							  >
							</th>

						</tr>
						{% endfor %}
					</tbody>

					<tfoot>
						<tr>
							<th style="font-weight:600"></th>
								{% for style in page.styles %}
						  		  <th style="font-weight:600">totals</th>
								{% endfor %}
							<th>totalx</th>
						</tr>
						</tfoot>
						
					</table>

				</br></br></br></br></br></br>
				
				
				<button class="snipcart-add-item" id="my-button"
				data-item-id="1"
				data-item-url="/"
				data-item-name="Item"
				data-item-price="20.00"
				data-item-quantity="10">
				  Buy now
			   </button>

					
				</div>
			</div>
		</div>
	</div>
	</section>
</div>

<script language="javascript" type="text/javascript">
	var tds = document.getElementById('countit').getElementsByTagName('td');
	var sum = 0;
	for(var i = 0; i < tds.length; i ++) {
		if(tds[i].className == 'count-me') {
			sum += isNaN(tds[i].innerHTML) ? 0 : parseInt(tds[i].innerHTML);
		}
	}
	document.getElementById('countit').innerHTML += '<tr><td>' + sum + '</td><td>total</td></tr>';
</script>



<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="{{ site.api_key }}" id="snipcart"></script>
<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
